// Removing any default browser margins for text
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
  margin-bottom: 0.5rem;
}

// Component Margins
.ds-figure,
.ds-navigation > *,
.ds-quote,
.ds-page-wrapper {
  margin: 0 auto;
  max-width: 90vw;

  @media (min-width: 1440px) {
    max-width: 1366px;
  }
}

.ds-page-wrapper {
  padding-top: 2rem;
}

/* Font imports */
@font-face {
  font-family: 'Rangle Riforma';
  src: url('fonts/RangleRiformaWeb-Regular.woff2') format('woff2'),
    url('fonts/RangleRiformaWeb-Regular.woff') format('woff');
  font-style: normal;
  font-display: block;
  font-weight: 400;
  fallback: 'Helvetica Neue, Helvetica, Arial, sans-serif';
}

@font-face {
  font-family: 'Rangle Riforma';
  src: url('fonts/RiformaLL-Medium.woff2') format('woff2'),
    url('fonts/RiformaLL-Medium.woff') format('woff');
  font-style: normal;
  font-display: block;
  font-weight: 500;
  fallback: 'Helvetica Neue, Helvetica, Arial, sans-serif';
}

body {
  /* Default */
  font-family: 'Rangle Riforma';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3;
  color: #262626;
  svg {
    fill: #262626;
  }

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

/* Heading 1 */
h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  // margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }

  @media (min-width: 1440px) {
    font-size: 2.5rem;
    // margin-bottom: 2rem;
  }
}

/* Heading 2 */
h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  // margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 1.75rem;
  }

  @media (min-width: 1440px) {
    font-size: 2rem;
    // margin-bottom: 2rem;
  }
}

/* Heading 3 */
h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3;
  // margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

/* Heading 4 */
h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  // margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

/* Paragraph text (just in case) */
p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

/* Large body */
.ds-large-body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

/* Small body */
.ds-small-body {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3;

  @media (min-width: 768px) {
    font-size: 0.875rem;
  }
}

/* Section spacing */
.ds-section-spacing {
  margin-bottom: 4rem;

  @media (min-width: 1440px) {
    margin-bottom: 6rem;
  }
}
